body{  margin:10px; padding:0px;font: 62.5%/1.4 Arial,Helvetica,Verdana,sans-serif;}
.custombody{margin-top:78px;}
.middleroung{width:auto; min-height:617px; margin:0 auto; background:#f7f5ee;border-radius:5px 5px 0 0; padding:10px;
 padding-bottom:21px;margin-top:24px;}
.middleroung h1{font-family: Arial, Helvetica, sans-serif;font-size: 15px;color: #191970;
    text-decoration: none;
    padding: 0 0 6px 0;}
.shadow{ background:url("images/shadow.png") no-repeat; width:911px; height:58px; margin:0 auto; clear:both; display:none;}


.fright{ float:right; margin-right:20px;margin-top:4px;}
.rightsection{ float:left;}
.rightsection ul{ margin:0px; padding:0px;}
.rightsection ul li{ float:left; list-style:none;padding: 0 9px;}
.rightsection ul li:hover{opacity: 0.75; cursor:pointer;}


.title {
    padding-bottom:5px;
    border-bottom: 1px solid #191970;
    color: #191970!important;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    font-size: 15px!important;margin-left:8px;
}

.left_move {margin-top: 2px;width: 62%;float: left;}

a{
    color: #5b677d;
    text-decoration: underline;
}

.wrapper{width: 98%;margin: 0 auto;background: #fff;}
.maintop{ width: 100%;background: #f1f1f1;padding: 8px 0px 8px 1px;margin-bottom: 4px;}
.maintopinner{width: 98%;background: #fff;margin: 0 auto;padding: 10px; }

.newheading5{margin-top: 2px;width: 62%;float: left;margin-bottom: 27px;}
.title {padding-bottom: 5px;margin-left: 8px;border-bottom: 1px solid #f68d33;color: #191970!important;font-weight: bold;
font-size: medium;text-align: left;font-size: 15px!important;font-family: arial;}
.inputbox{width: 100% !important;margin-bottom:0 !important;margin-top:0!important;}
.scroll{overflow-y: auto;}

input[type="submit"], input[type="button"], input[type="reset"], button {
background: #d4d4d4 url("images/header_bg.png") repeat-x 0 0;
    border: 1px solid;
    border-color: #c8c9ca #9e9e9e #9e9e9e #c8c9ca;
    color: #666;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    overflow: visible;
    line-height: 21px;
    margin-top: 0px;
    text-shadow: 1px 1px #FFF;
    width: auto;
    height: auto;
    font-size: 12px;    padding-right: 8px;
}




.rightsection1{ float:left;}
.rightsection1 ul{ margin:0px; padding:0px;}
.rightsection1 ul li{ float:left; list-style:none;padding: 0 9px;}
.rightsection1 ul li:hover{opacity: 0.75; cursor:pointer;}


.mainsearch{ clear: both;text-align: center;}

.input5{border: 1px solid #ccc;padding-left: 5px;
    height: 26px;
    
    font-family: arial;
    box-shadow: 0 0 10px #ccc inset;
    border-radius: 5px;
    color: #666;margin-right: 11px;}
.input5:focus{ outline:none;}

.title {
    padding-bottom:5px;
    border-bottom: 1px solid #191970;
    color: #191970!important;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    font-size: 15px!important;margin-left:8px;
}

.left_move {margin-top: 2px;width: 62%;float: left;}

a {
    color: #5b677d;
    text-decoration: underline;
}

a:hover{ color:#428bca}
.input2{border: 1px solid #ccc;height: 26px;width: 168px;font-family: arial;box-shadow: 0 0 10px #ccc;}

.middletable{ width:742px; margin:0 auto;    clear: both;}
	.demo {border-collapse:collapse;border: 1px solid #fff;
    box-shadow: 0 0 4px #ccc;
    padding: 6px;
		
	}
	.demo th { padding-top: 10px;
    font-family: arial;
    font-size: 13px;
		
		
	}
	.demo td { 
    line-height: 20px;
    padding-left: 27px;
    font-size: 14px;font-weight: bold;
	
	}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
   border: 1px solid #ccc;

}
.datagrid table td,
.datagrid table th {
    padding: 3px;
}
.datagrid table thead th {background: transparent url("../images/images/subheader_bg.png") repeat-x scroll 0px 0px;
    border-left: 1px solid #CCC;
    font-size: 12px !important;
    font-weight: bold;
    padding: 1.8px;
    white-space: nowrap;
    line-height: 29px;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
color: #000;
    /* border-left: 1px solid #E1EEF4; */
    font-size: 12px;
    font-weight: normal;
    background: 0;
    border: 1px solid;
    border-color: #d7d7d7 #e7e7e7;
    padding: 5px 6px; font-family:Arial, Helvetica, sans-serif;
}



.datagrid table tbody .alt td {
    background: #f5f8fb;
    color: #000;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEF4;
}
.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div {
    padding: 2px;
}
.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.datagrid table tfoot li {
    display: inline;
}
.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color: #00557F;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}


.maintable5{ width:100%; margin:0 auto; clear:both;}
.selectbox{width: 85%;height: 21px;margin-top: 5px;margin-bottom: 5px;}
.input3{width: 83%;height: 14px;margin-top: 5px;margin-bottom: 8px;}




.portlet-msg-info {
 background-color: #dff4ff !important;
 background-image:url("images/info.png") !important;
 background-repeat: no-repeat !important;
 border:1 px solid !important;
 border-color: #a7cedf !important;
 font: 11px Arial,Helvetica,Verdana,sans-serif !important;
 font-weight:bold !important;
}


.portlet-msg-info {
 background: #EEE none no-repeat 6px 50%;
 border: 1px solid #555;
 color: #34404f;
 display: block;
 font-weight: bold;
 margin: 2px auto 14px;
 padding: 6px 6px 6px 30px;
 text-align: left;    margin-top: 3px;
    box-shadow: 0 0 6px #CCE inset;
}

.middlesearch{width:21%;margin: 0 auto;}


.portlet-body{border:0px;}

.mainsearch{ clear: both;text-align: center;}
.leftsearch{    float: none; font: bold 100% Arial,Helvetica,sans-serif;
color: #26306b;
font-size: 10pt;
min-width:65px;
margin-right:10px;
display: inline-block;
text-align: left;
margin-top: 5px;}

.leftsearchmanager{    
color: #26306b;
font-size: 10pt;
min-width:65px;
margin-left:40%;
display: inline-block;
text-align: left;
margin-top: 5px;
float:left;
}

.leftsearch1{ float: none; font: bold 100% Arial,Helvetica,sans-serif;
color: #26306b;
font-size: 10pt;
min-width:65px;
display: inline-block;
text-align: left;
margin-top: 5px;}
.rightsearch{float: left;}
.input5{border: 1px solid #ccc;    padding-left: 5px;
height: 26px;
width:120px;
font-family: arial;
box-shadow: 0 0 10px #ccc inset;
margin-right:-2px;
border-radius: 5px;
color: #666;}
.input5:focus{ outline:none;}

.input2{border: 1px solid #ccc;height: 26px;width: 168px;font-family: arial;box-shadow: 0 0 10px #ccc;}

.maintable5{ width:100%; margin:0 auto; clear:both;}
.selectbox{width: 85%;height: 21px;margin-top: 5px;margin-bottom: 5px;}
.input3{width: 83%;height: 14px;margin-top: 5px;margin-bottom: 8px;}



.left_move {margin-top: 2px;width: 62%;float: left;}

.clr{ clear:both;}
.middlesearch{width:73%;margin: 0 auto;}

.portlet-msg-info {
background-color: #dff4ff !important;
background-image:url("backup_code1206/images/info.png") !important;
background-repeat: no-repeat !important;
border:1 px solid !important;
border-color: #a7cedf !important;
font: 11px Arial,Helvetica,Verdana,sans-serif !important;

text-align: left;
box-shadow: 0 0 6px #CCE inset;
}


.portlet-msg-info {
background: #EEE none no-repeat 6px 50%;
border: 1px solid #555;
color: #34404f;
display: block;
font-weight: bold;
margin:3px auto 14px;
padding: 6px 6px 6px 30px;
text-align: left;
}
.clr{float: left; margin-top: 29px;}
.clr a{font-size:14px;}
.rightsection ul{float:right;}


/*hr1.php css*/

.clr{ clear:both;}
.middlesearchhr{width:100%;margin: 0 auto;}


.clr{float: left; margin-top: 29px;}
.clr a{font-size:14px;}
.rightsection ul{float:right;}
ul{font-size:18px;}
.my-controller(border:none!important;)
.row{width:100%}
thead{width:100%}
tr{width:100%}

.loop{margin-bottom:20px;}

.radio-inline, .checkbox-inline{
padding-left:0px!important;
width:70px;
}
.scroll table tr td input.form-control{width:70px!important;}
.calert{color: red;
    margin-left: 25%;
	font-size:15px;
}
	
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.keysall{margin-bottom: 20px;}

.ui-dialog{
top:150px!important; position:fixed !important;

}
.table > thead > tr > th{background:#f68d33!important;}
#add_row,#delete_row{width:100px!important;}

.form-group{
    padding: 5px;
    width: 48% !important;}
.form-group input.form-control{
	width:60%!important;
	padding:5px;
	}
/*
#amvariable{width:80%;}
#ahvariable{width:80%;}
#ymvariable{width:80%;}
#yhvariable{width:80%;}
#ymvariablebyhod{width:80%;}*/
tr td select.form-control{width:80%!important;}
tr td input[type="text"]{width:80%!important;}
.testTable label{width:60px !important;}
.post_poned .ng-scope{margin-top:10px;}
.panel-body p label{width:23%;}


